---
layout: page
---

<!-- Workshop section -->

<div class="container">
<div class="row">
{% for lang in site.languages %}
p {
    <h3>{{ lang | capitalize }}</h3>
    margin-bottom: 3cm;
}

<ul>
  {% assign pages_list = site.pages | sort: 'title' %}
  {% for node in pages_list %}
    {% if node.title != null %}
      {% if node.visible == true %}
        {% if node.tags contains lang %}
          <li><a href="{{ site.github.url | replace:'http:','https:' }}{{ node.url }}">{{ node.title }}</a></li>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}  <!-- node -->
</ul>
{% endfor %}  <!-- lang -->
</div>
</div>
</div>